<nav class="bg-gray-600 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a href="#" class="text-xl font-bold">MikroPay (BETA 0.2)</a>
                </div>
                <div class="hidden md:flex space-x-4 ml-10">
                    <a href="/dashboard" class="hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Dashboard</a>
                    <a href="#" class="hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Routers</a>
                    <a href="https://github.com/Nandaxy/mikropay" class="hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Github</a>
                </div>
            </div>
            <div class="flex items-center">
                <div class="hidden md:block">
                    <a href="/logout" class="hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Logout</a>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <button id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white" aria-expanded="false" aria-controls="mobile-menu">
                        <span class="sr-only">Open main menu</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 bg-gray-600">
            <a href="/dashboard" class="block hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Dashboard</a>
            <a href="#" class="block hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Routers</a>
            <a href="https://github.com/Nandaxy/mikropay" class="block hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Github</a>
            <a href="/logout" class="block hover:bg-gray-700 px-3 py-2 rounded transition duration-200">Logout</a>
        </div>
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    mobileMenuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
    });
</script>

